<%-
  path = nil
  if action_name == "new"
    path = yarii_editor.create_document_path(content_model: params[:content_model])
    http_method = "post"
  else
    if params[:key_path]
      path = yarii_editor.update_document_path(@doc, content_model: params[:content_model], key_path: params[:key_path])
    else
      path = yarii_editor.update_document_path(@doc, content_model: params[:content_model])
    end
    http_method = "put"
  end
%>
<div
  data-controller="editor-modal"
  data-editor-modal-http-method="<%= http_method %>"
  data-editor-modal-path="<%= path %>"
  data-editor-modal-content-model="<%= params[:content_model] %>"
  data-editor-modal-model-id="<%= params[:id] %>"
  data-editor-modal-publishing-menu-path="<%= yarii_editor.publishing_menu_path %>"
  id="editor-modal"
  class="modal is-active"
>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= @doc_heading %></p>
      <button data-action="editor-modal#cancel" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <%= form_tag do %>
        <% current_site.content_models[params[:content_model].to_sym][:primary_fields].each do |field| %>
          <%= add_field field[:field_type], {
            variable: field[:field_name],
            label: field[:label],
            placeholder: field[:placeholder],
            class_name: field[:class_names]
          } %>
        <% end %>

        <div class="mb-2 has-text-right"><button data-action="editor-modal#showAdditionalFields" class="button is-text is-small">Additional Fields…</button></div>
        <div data-target="editor-modal.additionalFields" class="is-hidden mb-4">
          <div class="field">
            <label class="label">Publish to Public?</label>
            <div class="control">
              <%= hidden_field_tag "#{params[:content_model]}[published]", false %>
              <%= check_box_tag "#{params[:content_model]}[published]", true, @doc.published %>
            </div>
          </div>
          <% current_site.content_models[params[:content_model].to_sym][:additional_fields].each do |field| %>
            <%= add_field field[:field_type], {
              variable: field[:field_name],
              label: field[:label],
              placeholder: field[:placeholder],
              class_name: field[:class_names]
            } %>
          <% end %>
        </div>

        <% current_site.content_models[params[:content_model].to_sym][:content_fields].each do |field| %>
          <%= add_field field[:field_type], {
            variable: field[:field_name],
            label: field[:label],
            placeholder: field[:placeholder],
            class_name: field[:class_names]
          } %>
        <% end %>
      <% end %>
    </section>
    <footer class="modal-card-foot">
      <div data-target="editor-modal.status" class="modal-foot-status"></div>
      <button data-action="editor-modal#cancel" class="button is-dark is-text">Cancel</button>
      &nbsp;
      <button data-action="editor-modal#save" class="button is-success">Save Changes</button>
    </footer>
  </div>
</div>
