<%
model_type = local_assigns[:model_type]
model_details = local_assigns[:model_details]
model_class = model_details[:class_name].constantize
model_title = model_details.fetch(:title, model_class.name.titleize).pluralize

current_page = (params[:page] || 1).to_i
%>
<li class="scroll-item">
  <div class="level is-mobile">
    <div class="level-left">
      <h3 class="title level-item"><%= model_title %></h3>
    </div>
    <div class="level-right">
      <button data-controller="new-document" data-action="new-document#open" data-new-document-path="<%= yarii_editor.new_document_path(content_model: model_type) %>" class="level-item button is-primary">
        <span class="icon"><i class="fa fa-plus"></i></span>
        <span>New</span>
      </button>
    </div>
  </div>

  <div class="vertical-scroll">
    <div id="list-<%= model_type %>">
      <%= render 'inner_list', model_type: model_type, model_details: model_details %>

      <div data-controller="list-loading" id="loadmore-<%= model_type %>" class="has-text-centered">
        <%= link_to 'Load More', dashboard_list_path(model_type: model_type, page: current_page + 1), data: {action: 'list-loading#more'}, class: 'button is-primary' %>
      </div>
    </div>
  </div>
</li>
