<header class="card-header">
  <p class="card-header-title">
    <%= model.title %>
  </p>
</header>
<div class="card-content">
  <div class="content">
    <p><%= model.subtitle || model.content&.truncate(250) %></p>
    <% if model.tags.present? %>
      <%= render 'yarii_editor/model_cards/hashtags', tags: model.tags %>
    <% end %>
    <p class="has-text-right"><time datetime="<%= model.posted_datetime.strftime('%Y-%-m-%-d') %>"><%= model.posted_datetime.strftime('%B %-d, %Y') %></time></p>
  </div>
</div>
<footer class="card-footer">
  <%= render 'yarii_editor/model_cards/standard_footer_buttons', model: model, content_model_type: content_model_type %>
</footer>
